<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ChapterImage</key>
		<string>chapter1.png</string>
		<key>Pages</key>
		<array>
			<string>image1.png</string>
			<string>image2.png</string>
			<string>image3.png</string>
			<string>image4.png</string>
			<string>image5.png</string>
			<string>image6.png</string>
		</array>
	</dict>
	<dict>
		<key>ChapterImage</key>
		<string>chapter2.png</string>
		<key>Pages</key>
		<array>
			<string>image1.png</string>
			<string>image2.png</string>
			<string>image3.png</string>
			<string>image4.png</string>
			<string>image5.png</string>
			<string>image6.png</string>
			<string>image7.png</string>
			<string>image8.png</string>
			<string>image9.png</string>
			<string>image10.png</string>
		</array>
	</dict>
	<dict>
		<key>ChapterImage</key>
		<string>chapter3.png</string>
		<key>Pages</key>
		<array>
			<string>image1.png</string>
			<string>image2.png</string>
			<string>image3.png</string>
			<string>image4.png</string>
			<string>image5.png</string>
			<string>image6.png</string>
			<string>image7.png</string>
			<string>image8.png</string>
			<string>image9.png</string>
			<string>image10.png</string>
			<string>image11.png</string>
			<string>image12.png</string>
			<string>image13.png</string>
			<string>image14.png</string>
		</array>
	</dict>
	<dict>
		<key>ChapterImage</key>
		<string>chapter4.png</string>
		<key>Pages</key>
		<array>
			<string>image1.png</string>
			<string>image2.png</string>
			<string>image3.png</string>
			<string>image4.png</string>
			<string>image5.png</string>
			<string>image6.png</string>
			<string>image7.png</string>
			<string>image8.png</string>
			<string>image9.png</string>
			<string>image10.png</string>
		</array>
	</dict>
</array>
</plist>
